<div class="row">
  <div class="col s12 m6 l4 push-m3 push-l4">
    <div class="card-panel" style="margin-top:25px;">
      <h2 class="center-align">Login</h2>
      {{message}}
      <form method="POST" action="">
      <div>
        <label>username:</label> <input type="email" name="username"> 
      </div>
      <div>
        <label>password:</label> <input type="password" name="password"> 
      </div>
        <input type="submit" class="btn-large" style="width:100%;" value="Go"> 
      </form>
    </div>
  </div>
</div>
